*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
}


body{
    background-color: #111;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}


ul{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
}


h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);  
    font-size: 80px;
    white-space: nowrap;

}


